<script src="/javascripts/boston.js"></script>

{{!-- Housing Units Pie Chart --}}
<div class="col-md-6">yo</div>
{{!-- Genders Pie Chart --}}
<div class="col-md-6">yo</div>
{{!-- Race Groups Pie Chart --}}
<div class="col-md-6">yo</div>
{{!-- Age Groups Bar Chart --}}
<div class="col-md-6">yo</div>