<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bar_chart.css' />
    <link rel='stylesheet' href='/stylesheets/donut_chart.css' />
    
    <script src="/javascripts/app.js"></script>
  </head>
  <body>
  	<header>
  	  
  	</header>
  	<div class="container">
  		<div class="dope-header row">
  			<div class="col-md-12">
  				<h1>Boston Census</h1>
		  		<p>Which neighborhood are you interested in?</p>
		  		<div class="dropdown">
		  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    <span id="vis-dropdown-title">Boston</span>
				    <span class="caret"></span>
				  	</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li id="dd-allston" onclick="switchData('Allston', '#dd-allston', 'allston')"><a href="#">Allston</a></li>
					  <li id="dd-backbay" onclick="switchData('Back Bay', '#dd-backbay', 'back_bay')"><a href="#">Back Bay</a></li>
            <li id="dd-bayvillage" onclick="switchData('Bay Village', '#dd-bayvillage', 'bay_village')"><a href="#">Bay Village</a></li>
            <li id="dd-beaconhill" onclick="switchData('Beacon Hill', '#dd-beaconhill', 'beacon_hill')"><a href="#">Beacon Hill</a></li>
					  <li id="dd-boston" onclick="switchData('Boston', '#dd-boston', 'boston')" class="disabled"><a href="#">Boston</a></li>
					</ul>
				</div>
				<div style="clear:both;"></div>
  			</div>
  		</div>
      {{{body}}}
    </div>
  </body>
</html>
