.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: clear;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
