html, body {
  background-color: #393939;
}

body {
  color: white;
}

a {
  color: #00B7FF;
}

.dope-header p {
  float: left;
  line-height: 34px;
}

.dope-header .dropdown {
  float: left;
  margin-left: 10px;
}